
 <app-nav-bar></app-nav-bar>

 <div class="container pt-3 pb-6 bg-red-100 ">

    <div class="text-center mb-10">
        <h1 class="text-5xl font-extrabold text-gray-800 leading-tight tracking-wide"> Indulge in a world of flavours!</h1>
        <p class="text-lg text-gray-700 mt-3 max-w-lg mx-auto">Discover easy delicious and inspiring dishes to spice up your meal time</p><p>Cook, Share and Enjoy!!</p>
    </div>

    <div class="flex flex-wrap gap-5">

        @for (item of data; track item.id) {

    <app-cards [data]="item"></app-cards>
  }
 </div>

 </div>


    




